:root {
    --primary-color: #4A90E2;
    --secondary-color: #50E3C2;
    --background-color: #F5F7FA;
    --text-color: #333333;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #F5F7FA);
}

.container {
    text-align: center;
    background: white;
    padding: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 700px;
    border-radius: 12px;
}

.title {
    display: flex;
    gap: 19px;
    align-items: center;
}

.form-and-image {
    display: flex;
    margin-top: 24px;
    gap: 32px;
}

.form-container {
    border: solid blue;
    width: 100%;
    min-height: 300px;
}

.image-container {
    border: solid green;
    aspect-ratio: 1 / 1;
    width: 65%;
}

.title_text {
    font-size: 32px;
    font-weight: 700;
    color: var(--text-color);
}

