:root {
    --primary-color: #4A90E2;
    --secondary-color: #50E3C2;
    --background-color: #F5F7FA;
    --text-color: #333333;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #F5F7FA);
}

.container {
    text-align: center;
    background: white;
    padding: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 700px;
    border-radius: 12px;
}

.title {
    display: flex;
    gap: 19px;
    align-items: center;
}

.form-and-image {
    display: flex;
    margin-top: 24px;
    gap: 32px;
}

.form-container {
    
    width: 100%;
    min-height: 300px;
}

.image-container {
    aspect-ratio: 1 / 1;
    width: 65%;
}

.title_text {
    font-size: 32px;
    font-weight: 700;
    color: var(--text-color);
}

.form-container_promt-input {
    resize: none;
    background: var(--secondary-color);
    border: solid 1.5px var(--primary-color);
    border-radius: 8px;
    padding: 8px 10px;
    width: 100%;
}

.form-container_promt-input:focus {
    outline: none;
    box-shadow: 0 0 5px var(--primary-color);
}

.form-container_dropdown-group {
    margin-top: 8px;
    display: flex;
    gap: 12px;
}

.form-container_style-select {
    padding: 8px 10px;
    border-radius: 8px;
    background: var(--background-color);
    border: solid 2px var(--text-color);
}

.form-container_style-select:focus {
    outline: none;
    box-shadow: 0 0 5px var(--primary-color);
}

.form-container_size-select {
    padding: 8px 10px;
    border-radius: 8px;
    background: var(--background-color);
    border: solid 2px var(--text-color);
}

.form-container_generate-button {
    margin-top: 10px;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    padding: 8px 12px;
    fill: white;
    color: white;
    display:flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 150ms ease;
    outline: solid px transparent;
}

.form-container_generate-button:hover {
    outline: solid 2px var(--primary-color);
}

.image-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    position: relative;
}

.image-container:hover .image-container_layer {
    opacity: 1;
    
}

.image-container:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.image-container_image_result {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 300ms ease;
}

.image-container_layer {
    position: absolute;
    background: linear-gradient(to top, rgba(0,0,0,0.75), rgba(0,0,0,0));
    width: 100%;
    height: 30%;
    bottom: 0;
    transition: 300ms ease;
}

.image-container_buttom {
   opacity: 0;
   position: absolute;
   right: 15px;
   width: 45px;
   height: 45px;
   bottom: 15px;
   border-radius: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;
   background: rgba(255, 255, 255, 0.51);
   fill: white;
   cursor: pointer;
   transition: 500ms ease;
}

.image-container:hover .image-container_buttom  {
    opacity: 1;
    bottom: 15px;
}

@media screen and (max-width: 768px) {
    .form-and-image {
        flex-direction: column; 
}
.image-container {
    width: 100%;
}

.container {
    overflow-y: scroll;
    max-height: 90%;
}
.image-container_buttom {
    margin: 10px;
    transition: scale(1.1);
}
}
